{% extends "base.html" %}

{% load static %}

{% block title %}Error{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>500 error</h1>
            <h3 class="mt-3">Server Error</h3>
            <br>
            <p>Rudgeys Recruitment is currently unable to handle this request</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Go to Homepage</a>
        </div>
    </div>
</div>

{% endblock %}