{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-body">
          <h1 class="card-title">{{ job.job_title }} Role</h1>
          <form method="post" action="{% url 'applying' job.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" id="username" value="{{ user.username }}" autocomplete="on" disabled>
            </div>
            <div class="mb-3">
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" value="{{ request.user.profile.email }}" autocomplete="on" disabled>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address:</label>
              <input type="text" class="form-control" id="Address" value="{{ request.user.profile.address }}" autocomplete="on" disabled>
          </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number:</label>
                <input type="text" class="form-control" id="phone_number" value="{{ request.user.profile.phone_number }}" autocomplete="on" disabled>
            </div>
            <div class="mb-3">
              <label for="cv" class="form-label">CV: </label>
              {% if request.user.profile.cv %}
              <a href="{{ request.user.profile.cv.url }}" target="_blank">{{ user.username }} CV</a>
              {% else %}
              <p>No CV uploaded</p>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="cover_letter" class="form-label">Availablity:</label>
              <textarea class="form-control" id="cover_letter" name="cover_letter" rows="5" placeholder="Please Enter the dates and times we can contact you."></textarea>
            </div>
            <div class="form-group">
              <label for="notice_period" class="form-label">Notice period:</label>
              <input type="text" class="form-control" id="notice_period" value="{% for notice in request.user.profile.notice.all %}{{ notice.notice }}{% if not forloop.last %}, {% endif %}{% endfor %}" disabled>
          </div>
            <button type="submit" class="btn btn-primary">Submit Application</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>Please sign in to view your profile and apply for this job.</p>
{% endif %}
{% endblock %}